In [3]:
import json
from itertools import chain

import numpy as np
import pandas as pd
from tqdm import tqdm

from src.models.schwartz_hearst_model import SchwartzHearstModel
from src.evaluate.model import evaluate_kaggle_private

In [4]:
    

tqdm.pandas()
evaluation = evaluate_kaggle_private(SchwartzHearstModel(), dict(), 1)

100%|██████████| 8063/8063 [05:21<00:00, 25.08it/s]
 47%|████▋     | 3766/8063 [00:09<00:08, 499.74it/s]WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ' =']
100%|██████████| 8063/8063 [00:16<00:00, 481.63it/s]

In [15]:
evaluation.output_statistics

,ids,labels,statistics
0,7bfd8bb51,dbgap,"{'labels': ['dbgap', 'CNV', 'WGS', 'Whole-exom..."
1,7d3e31302,sass|sass data|school and staffing sass data|s...,"{'labels': ['sass', 'sass data', 'school and s..."
2,3644f959a,foodaps|national household food acquisition an...,"{'labels': ['foodaps', 'national household foo..."
3,ed3527cf3,database of genotypes and phenotypes|database ...,{'labels': ['database of genotypes and phenoty...
4,236061129,dbgap,"{'labels': ['dbgap'], 'stats': ['FN']}"
...,...,...,...
8058,3cb8b0e09,database of genotypes and phenotypes|database ...,{'labels': ['database of genotypes and phenoty...
8059,324fe1310,dbgap,"{'labels': ['dbgap'], 'stats': ['FN']}"
8060,39e66a274,1000 genomes project|1000 genomes project 1000...,"{'labels': ['1000 genomes project', '1000 geno..."
8061,c411b1b6c,dbgap|american cancer society cancer preventio...,"{'labels': ['dbgap', 'american cancer society ..."
8062,990d0ae2d,epa storage and retrieval storet data warehous...,{'labels': ['epa storage and retrieval storet ...

In [13]:
stats = evaluation.output_statistics
all_labels = list(chain(*list(map(lambda x: x["labels"], stats["statistics"].values))))
global_stats = list(
    chain(*list(map(lambda x: x["stats"], stats["statistics"].values)))
)

In [14]:
stats_df = pd.DataFrame({"labels": all_labels, "stats": global_stats})
stats_df.loc[stats_df["stats"] == "FN", :].groupby("labels").count().sort_values(
    "stats", ascending=False
)

                                              stats
labels
dbgap                                          2926
database of genotypes and phenotypes            950
database of genotypes and phenotypes dbgap      773
program for international student assessment    771
schools and staffing survey                     353
...                                             ...
genomic psychiatry cohort                         1
genomic encyclopedia of bacteria and archaea      1
genomic data generation                           1
genomic data commons gdc data portal              1
zulu gwas                                         1

[8946 rows x 1 columns]

In [26]:
stats.loc[stats["labels"].str.contains("epa storage and retrieval"), :]

,ids,labels,statistics
8062,990d0ae2d,epa storage and retrieval storet data warehous...,{'labels': ['epa storage and retrieval storet ...

In [27]:
stats.loc[stats["ids"]=="ed3527cf3", "statistics"].values

array([{'labels': ['database of genotypes and phenotypes', 'database of genotypes and phenotypes dbgap ', 'dbgap', 'NIH', 'Institute or Center', 'IaaS', 'PCS', 'IP', 'IRB', 'PaaS', 'Platform as a Service', 'Genomic Data Sharing', 'IC', 'Institutional Review Board', 'CSP', 'Software as a Service', 'SaaS', 'cloud service provider', 'Data Access Committee', 'National Institutes of Health', 'Infrastructure as a Service', 'Principal Investigator', 'Private Cloud System', 'Data Access Request', 'GDS', 'intellectual property'], 'stats': ['FN', 'FN', 'TP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP', 'FP']}],
      dtype=object)